@import '../Constants';
.container {
  min-width: 450px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2Em;
  font-family: $global-font;
}
