@import '../Constants';
.container {
  width: auto;
  margin: 0 auto;
  padding: 7px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #eef4ff;
}

.title {
  margin: 5px 50px 5px 10px;
  font-size: 28px;
  font-family: "Bitter", serif;
}

button {
  margin: 0 10px 0 0;
  padding: 4px 11px 5px 11px;
  font-size: 18px;
  font-family: "Bitter", serif;
  border-radius: 9px;
  color: $color-blue;
  background: rgba(0,0,0,0);
  border: solid 2px #6496c8;
}

button:hover{
  transition-duration: 2s;
  color: #ffffff;
  background: #234e7f;
}